<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Freelancers</title>
</head>
<body>
    <h1>Freelancers List</h1>
    <a href="/">Home</a>
    
    <ul>
        {% for freelancer in freelancers %}
            <li>{{ freelancer.name }} - Skills: {{ freelancer.skills }}</li>
        {% endfor %}
    </ul>
</body>
</html>
