<!DOCTYPE html>
<html>
<head>
<title>Freelance</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-blue w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>FREELANCE</b></h4>
    <p class="w3-text-grey"><a href="request_freelancer.html">Find freelancers</a></p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>Available Freelancers</a> 
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Register as a freelancer</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <h1><b>Available Freelancers</b></h1>
    <div id="freelancers">
      <!-- Dynamic content for freelancers will be populated here -->
      {% for freelancer in freelancers %}
        <div class="w3-container w3-white w3-margin-bottom">
          <p><b>{{ freelancer.lastName}}</b>  <b>{{ freelancer.firstName}}</b></p>
          <p>Skills: {{ freelancer.skills }}</p>
        </div>
      {% endfor %}
    </div>
  </header>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-large w3-grey" id="contact">
    <h4><b>Register as a Freelancer</b></h4>
    <form action="{{ url_for('add_freelancer') }}" method="POST">
      <div class="w3-section">
        <label>First Name</label>
        <input class="w3-input w3-border" type="text" name="firstName" required>
      </div>
      <div class="w3-section">
        <label>Last Name</label>
        <input class="w3-input w3-border" type="text" name="lastName" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="email" name="email" required>
      </div>
      <div class="w3-section">
        <label>Skills</label>
        <input class="w3-input w3-border" type="text" name="skills" required>
      </div>
      <div class="w3-section">
        <label>Telephone Number</label>
        <input class="w3-input w3-border" type="tel" name="TelephoneNumber" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Register</button>
    </form>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-dark-grey">
    <div class="w3-row-padding">
      <div class="w3-third">
        <p><h3>Find a freelancer</h3></p>
        <p>Graphic design</p>
        <p>Writing and translation</p>
        <p>Software development</p>
        <p>Transcription</p>

      </div>
    </div>
  </footer>
  

  <div class="w3-black w3-center w3-padding-24">Created by Elizabeth Mwangi</div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const message = urlParams.get('message');
            const category = urlParams.get('category');

            if (message) {
                alert(`${category === 'success' ? 'Success!' : 'Error!'}\n${message}`);
            }
        };
</script>

</body>
</html>
